<div class="half half--left">
  <div class="content">
    <!--<a href="/">
      <img src="/images/c-flat.png" class="site-logo" alt="Cassio Cardoso" />
    </a>-->
    <h1 class="site-title">Cassio Cardoso</h1>
    <h2 class="site-subtitle">Front-end Engineer</h2>
    <%- partial('_partial/social-icons') %>
  </div> <!-- /.content -->
</div> <!-- /.half -->

<div class="half half--right">
  <div class="content">
    <%- partial('_partial/nav') %>
    <h2>Recent posts:</h2>
    <% page.posts.each(function(post) { %>
      <%- partial('_partial/post-snippet', {post: post, index: true}) %>
      <%- partial('_partial/pagination', {type: 'page'}) %>
    <% }) %>
    <%- partial('_partial/footer') %>
  </div> <!-- /.content -->
</div> <!-- /.half -->
