<div class="half half--left">
  <div class="content">
    <h1 class="site-title"><%= page.title %></h1>
  </div> <!-- /.content -->
</div> <!-- /.half -->

<div class="half half--right">
  <div class="content">
    <%- partial('_partial/nav') %>
    <img src="<%= page.banner %>" class="img-responsive" alt="<%= page.title %>" />
    <article class="article">
      <%- page.content %>
    </article>
    <%- partial('_partial/disqus') %>
    <%- partial('_partial/footer') %>
  </div> <!-- /.content -->
</div> <!-- /.half -->
