<article class="post-snippet">
  <header class="post-snippet__header">
    <img
      src="/images/posts/2015_cssconf.png"
      class="img-responsive"
      alt="Como foi a Conferência CSS Brasil 2015"
    />
    <h1 class="post-snippet__title">
      <a href="<%= url_for(post.path) %>" class="post-snippet__link"><%= post.title %></a>
    </h1> <!-- /.post-snippet__title -->
  </header> <!-- /.post-snippet__header -->

  <section class="post-snippet__body">
    <p class="post-snippet__text">
      <%= post.snippet %>
    </p> <!-- /.post-snippet__text -->
    <p>
      <a href="<%= url_for(post.path) %>" class="post-snippet__read-more">Ler mais...</a>
    </p>
  </section> <!-- /.post-snippet__body -->

  <footer class="post-snippet__footer">
    <img src="/images/profile.jpg" class="author__thumb" alt="Cassio Cardoso" />
    <a href="#" class="author__name">Cassio Cardoso</a>
    <span>publicou em <date><%= post.date.locale('pt').format("L") %></date></span>
  </footer> <!-- /.post-snippet__footer -->
</article> <!-- /.post-snippet -->
